body{
  color:black;
  font-family:monospace;
  background-color:orange;
  }
#heading{
	color: blue;
	font-family: monospace;
	font-size: 50px;
}
#heading2{
	color: blue;
	font-family: monospace;
	font-size: 45px;
}
#container{
	 margin: 20px auto 20px auto;
}
.container1{
	margin-left: 150px;
	margin-top: 10px;
}
#button1{
  
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 10px;
  margin-left:25px;
  margin-bottom:40px;
  cursor: pointer;
   position:relative;
   left:5px;
}
#button2{
  
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 10px;
  margin-left:25px;
  margin-bottom:40px;
  cursor: pointer;
   position:relative;
   left:5px;
}
.row{
	display: flex;
	flex-wrap: wrap ;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
	color: #ffffff;
}
.container{
	max-width:100%;
	margin:auto;
	background-color: #808080

}


.footer-col ul li:hover{
	padding-left: 10px;
}
.footer-col .social-links a{
	display: inline-block;
	margin:0 10px 10px 0;
	line-height: 40px;
	border-radius: 50%;	
}
